In [4]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [5]:
dataset=pd.read_csv("insurance_pre.csv")

In [6]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [7]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [8]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [9]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [10]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes' ]]

In [11]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [12]:
dependent=dataset[['charges']]

In [13]:
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [14]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(independent, dependent, test_size=0.30, random_state=0)

In [15]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [16]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid = {'criterion':['mse','mae','friedman_mse'],
'max_features': ['auto','sqrt','log2'],
'splitter':['best','random']}


grid = GridSearchCV(DecisionTreeRegressor(), param_grid, refit = True, verbose = 3,n_jobs=-1)
grid.fit(X_train, y_train)

Fitting 5 folds for each of 18 candidates, totalling 90 fits

C:\Users\HP\Anaconda3\lib\site-packages\sklearn\tree\_classes.py:363: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  FutureWarning,

GridSearchCV(estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae', 'friedman_mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             verbose=3)

In [17]:
re=grid.cv_results_
print("The R_score value for best parameter {}:".format(grid.best_params_))

The R_score value for best parameter {'criterion': 'mse', 'max_features': 'auto', 'splitter': 'best'}:

In [18]:
table=pd.DataFrame.from_dict(re)

In [19]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.026528,0.017589,0.006983,3.025290e-03,mse,auto,best,"{'criterion': 'mse', 'max_features': 'auto', '...",0.732250,0.538365,0.766867,0.645885,0.673196,0.671313,0.078954,1
1,0.009972,0.001668,0.004788,1.163179e-03,mse,auto,random,"{'criterion': 'mse', 'max_features': 'auto', '...",0.743730,0.634073,0.675352,0.639476,0.612487,0.661024,0.046026,4
2,0.011768,0.002555,0.005585,1.352213e-03,mse,sqrt,best,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.718462,0.598967,0.617790,0.414557,0.701855,0.610326,0.108242,11
3,0.016158,0.011116,0.004985,3.403963e-06,mse,sqrt,random,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.706523,0.614783,0.548092,0.425197,0.498236,0.558566,0.096528,17
4,0.018550,0.004213,0.007979,2.749397e-03,mse,log2,best,"{'criterion': 'mse', 'max_features': 'log2', '...",0.651137,0.583655,0.674371,0.668809,0.588796,0.633354,0.039271,8
5,0.010373,0.003311,0.008177,2.919807e-03,mse,log2,random,"{'criterion': 'mse', 'max_features': 'log2', '...",0.677232,0.597962,0.607519,0.522495,0.557456,0.592533,0.052084,15
6,0.052259,0.007715,0.006384,2.053253e-03,mae,auto,best,"{'criterion': 'mae', 'max_features': 'auto', '...",0.726255,0.637893,0.610659,0.530242,0.661156,0.633241,0.064142,9
7,0.039693,0.008063,0.005187,1.595211e-03,mae,auto,random,"{'criterion': 'mae', 'max_features': 'auto', '...",0.709668,0.639564,0.686250,0.591169,0.696576,0.664645,0.043684,3
8,0.033510,0.005299,0.005385,1.353436e-03,mae,sqrt,best,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.666204,0.642237,0.619000,0.685461,0.651563,0.652893,0.022369,5
9,0.025731,0.006597,0.003990,5.722046e-07,mae,sqrt,random,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.524191,0.521165,0.753771,0.553998,0.681971,0.607019,0.094018,12
10,0.034509,0.006694,0.006185,1.596704e-03,mae,log2,best,"{'criterion': 'mae', 'max_features': 'log2', '...",0.682761,0.478567,0.699661,0.548712,0.473448,0.576630,0.097409,16
11,0.026728,0.004155,0.005387,1.352438e-03,mae,log2,random,"{'criterion': 'mae', 'max_features': 'log2', '...",0.573503,0.695088,0.638775,0.672831,0.627950,0.641629,0.041636,6
12,0.011368,0.001737,0.005585,1.620634e-03,friedman_mse,auto,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.724211,0.543017,0.793725,0.623431,0.663653,0.669607,0.085533,2
13,0.008976,0.002676,0.007581,4.889087e-04,friedman_mse,auto,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.671969,0.626683,0.613780,0.617140,0.650298,0.635974,0.022066,7
14,0.007780,0.001163,0.005185,1.715369e-03,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.725098,0.505167,0.580431,0.610902,0.635075,0.611335,0.071739,10
15,0.007779,0.001323,0.005785,9.772337e-04,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.638055,0.552145,0.544565,0.318107,0.482453,0.507065,0.106684,18
16,0.007979,0.000893,0.004786,2.034785e-03,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.781126,0.505624,0.652924,0.435372,0.626025,0.600214,0.120245,13
17,0.007579,0.001198,0.004389,1.017748e-03,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.648492,0.519094,0.688525,0.546639,0.579197,0.596389,0.063165,14

In [20]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:35
BMI:40
Children:2
Sex Male 0 or 1:1
Smoker Yes 0 or 1:1

In [21]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[63770.42801]